<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd"
>

    <!-- 扫描web相关的bean -->
    <context:component-scan base-package="com.qiqi.account"/>

    <!-- 开启SpringMVC注解模式 -->
    <mvc:annotation-driven conversion-service="conversionService"/>
    <!-- 第一步:  创建自定义日期转换规则 -->
    <bean id="dateConvert" class="com.qiqi.account.utils.DateConvert"/>
    <!-- 第二步： 创建convertion-Service ，并注入dateConvert-->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="dateConvert"/>
            </set>
        </property>
    </bean>

    <!-- 配置显示ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <!--拼接路径信息  如果放在WEB-INF中  需要添加/WEB-INF-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 配置jackson，可以以json格式做入参出参 -->
    <bean id="jsonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>

    <!-- 访问静态资源配置 方式一：自动注册组件,用于加载静态图片等资源
    <mvc:annotation-driven/>
    <mvc:resources mapping="/**" location="/public/images/" />
    <mvc:resources mapping="/**" location="/js/" />
    <mvc:resources mapping="/**" location="/public/css/"/>
    -->

    <!--访问静态资源配置 方式二： -->
    <!--
    <mvc:default-servlet-handler/>
    -->
</beans>