.width{
	width: 300px;
}
.content {
    padding-top: 0px;
}
.content.left {
    clear: both;
}
 
.pic{
	width: 108px;
	padding-top: 24px;
	padding-left: 21px;
	padding-right: 17px;
	float: left;
	color: #0066cc;
}
.setting{
	float: left;
	padding-top: 48px;
	text-align: left;
	color: #333;
}
.settingTitle{
	padding-top: 14px;
}
.setPicTitle{
	padding-top: 12px;
	font-size: 12px;
}
.settingTitle>a{
	color: #0066cc !important;
	padding-right: 4px;
}
.sideLeft{
	width: 240px;
	height: 140px;
	background: #fbfbfb;
}
.sideRight{
	width:800px;
	padding-left: 36px;
}
.underline{
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 10px;
}
.leftPanel{
	background:#f2f2f2; 
	height:440px; 
	z-index:1; 
	margin-top:-180px;
	padding-left:50px;
}
.routerlist{
	height: 40px;
	line-height: 40px;
}
.title{
	margin-top: 20px;
}
.left {
    float: left;
}
#mod-account-score {
    line-height: 52px;
    position: relative;
}
.clearfix {
    zoom: 1;
}
.orange{
    color: #ff6c38 !important;
}

#check-secure.disabled:hover{
    cursor: not-allowed;
}

.ucenter-cright-title {
    font-size: 22px;
    color: #404040;
    font-weight: 400;
    line-height: 40px;
}
.score-step {
    background-position: 0 -138px;
    width: 435px;
    height: 10px;
    margin: 14px 0 0;
    display: inline;
}
.score-step, .score-state-left, .score-state-right, .score-btn {
    background-image: url(../images/ucenter_1.png);
    background-image: -webkit-image-set(url(../images/ucenter_1.png) 1x,url(../images/ucenter_1@2x.png) 2x);
    background-image: -moz-image-set(url(../images/ucenter_1.png) 1x,url(../images/ucenter_1@2x.png) 2x);
    background-image: -o-image-set(url(../images/ucenter_1.png) 1x,url(../images/ucenter_1@2x.png) 2x);
    background-image: -ms-image-set(url(../images/ucenter_1.png) 1x,url(../images/ucenter_1@2x.png) 2x);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.score-level-2 .score-state-left {
    background-position: 0 -180px;
}
.score-state-left {
    float: left;
    width: 0px;
    height: 10px;
}

.score-level-2 .score-state-right {
    background-position: right -180px;
}
.score-state-right {
    float: left;
    height: 10px;
}

.score-step-tip, .score-level-2 .score-num {
    color: #fdb13f;
}
.score-num {
    font-size: 28px;
    margin-left: 10px;
    line-height: 34px;
}

.score-btn:hover {
    background-position: -111px -99px;
    text-shadow: 0 0 2px #fe960e;
}
.score-btn {
    background-position: 0 -99px;
    width: 111px;
    height: 38px;
    line-height: 38px;
    float: right;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 2px #f57a16;
}
.score-tip, .warn-title {
    clear: both;
    font-size: 14px;
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    color: #333;
    padding: 10px 0;
}
b{
	color:red;
}
.list{
	height: 106px;
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 26px;
	padding-top: 6px;
	line-height: 21px;
}
.lefticon{
	float: left;
	line-height: 88px;
}
.rightDis{
	float: left;
	padding-left:20px; 
	padding-top: 25px;
}
.title1{
	font-size: 14px;
	font-weight: bold;
	color:#333;
}
.title2{
	font-size: 12px;
	color:#9d9d9d;
}
.opratorBtnDiv{
	float: right;
	padding-top: 10px;
}
 
a:hover {
    color: #1d61ad;
    -webkit-transition: color .15s linear,background-color .3s linear;
    -moz-transition: color .15s linear,background-color .3s linear;
    -o-transition: color .15s linear,background-color .3s linear;
    -ms-transition: color .15s linear,background-color .3s linear;
    transition: color .15s linear,background-color .3s linear;
    cursor: pointer;
}
.showblock{
	display: block !important;
}
.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
	0% {
	opacity:0;
	transform:translateY(-20px)
}

@-webkit-keyframes fadeInDown {
	0% {
	opacity:0;
	-webkit-transform:translateY(-20px)
}

@-moz-keyframes fadeInDown {
	0% {
	opacity:0;
	-moz-transform:translateY(-20px)
}

@-o-keyframes fadeInDown {
	0% {
	opacity:0;
	-o-transform:translateY(-20px)
}

@media screen and (max-width: 1440px) { 
	.sideRight{
		width: 780px;
		padding-left: 0px;
	}
	.sideLeft{
		width: 780px;
	}
}